.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: black;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 10px solid aqua;
    transition: var(--transition);
}

.portfolio__item:hover{
    border: 10px solid black;
    background-image: linear-gradient(rgb(9, 232, 162), rgb(1, 158, 249));

}

.portfolio__item-image{
    border-radius: 1.5rem;
    border: 5px solid white;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 1.2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES (MEDIUM DEVICE) ~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES (SMALL DEVICE) ~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}